# GrowthCheck Frontend Environment Variables

# Backend API Endpoint (required)
BACKEND_ENDPOINT=http://your_backend_endpoint.com

# Better Auth Endpoint (required for authentication)
NEXT_PUBLIC_BETTER_AUTH_ENDPOINT=http://your_backend_endpoint.com

# Pagination Mobile
NEXT_PUBLIC_PAGINATION_PAGE_MOBILE_SIZE=1
NEXT_PUBLIC_PAGINATION_LIMIT_MOBILE_SIZE=6

# Pagination Desktop
NEXT_PUBLIC_PAGINATION_PAGE_DESKTOP_SIZE=1
NEXT_PUBLIC_PAGINATION_LIMIT_DESKTOP_SIZE=12
